    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    h1 {
        color: purple;
        text-align: center;
    }

    #config{
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 100%;
        margin-top: 30%;
        min-height: 540px;
        margin-bottom: 2%;
    }

    #upload{
        margin-left: 25%;
    }
    #csv{
        width: 40%;
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 30%;
        margin-top: 20%;
        min-height: 200px;
        margin-bottom: 2%;
    }

    #error_msgs_list{
        font-family: Georgia;
        font-size: medium;
    }

    #error-msgs{
        width: 50%;
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 25%;
        margin-top: 15%;
        min-height: 600px;
    }

    .custom-file-input {
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        text-shadow: 1px 1px #fff;
        font-weight: 1000;
        font-size: 10pt;
        width: 63%;
        margin-left:2%;
    }

    input[type=text], select {
        width: 10%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        margin-left: 1%;
    }

    input[type=number], select {
            width: 10%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            margin-left: 2%;
        }

    label {
        font-size : 15px;
        font-family: "Times New Roman", Times, serif;
    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    a{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        margin-left:20%;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }