html {
    scroll-behavior: smooth;
}

body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    h1 {
        color: #00008B;
        text-align: center;
        font-size : 60px;
        font-family: Marker Felt;
    }

     h2 {
            color: blue;
            text-align: center;
            font-size : 25px;
        }

    h4{
            color: black;
            text-align: center;
            font-size : 30px;
            background:#3498db;
            height: 35px;
      }

    .logo{
            color: black;
            text-align: center;
            font-size : 53px;
            font-family: Impact;
    }

    #config{
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        margin-top: 20%;
        min-height: 540px;
        margin-bottom: 2%;
    }

     #fields{
            background:white;
            color: #fff;
            border-radius: 70px;
            margin-left:1%;
            padding: 40px;
            width: 1650px;
            height: 320px;
            background: linear-gradient(45deg, #FC466B, #3F5EFB);
            text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        }


    #upload{
        margin-left: 25%;
    }
    #csv{
        width: 40%;
        border-radius: 10px;
        padding: 20px;
        margin-left: 30%;
        margin-top: 10%;
        min-height: 200px;
        margin-bottom: 5%;
        border-style: solid;
        border-width: thick;
        border-color: black;
    }

    #error_msgs_list{
        font-family: Georgia;
        font-size: medium;
    }

    #error-msgs{
        width: 50%;
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 25%;
        margin-top: 15%;
        min-height: 600px;
    }

    .custom-file-input {
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        text-shadow: 1px 1px #fff;
        font-weight: 1000;
        font-size: 10pt;
        width: 180px;
    }

    input[type=text], select {
        width: 80px;
        font-size: 14px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        margin-left: 1%;
        height: 40px;
    }

    input[type=number], select {
            width: 185px;
            padding: 12px 20px;
            margin: 7px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            margin-left: 2%;
        }

    label {
         background: transparent;
            width: 150px;
            padding: 1em;
            margin-bottom: 1em;
            border-radius: 2000px;
            backdrop-filter: blur(5px);
            color: #fff;
            font-size: 20px;
            margin-top : 4%;
            font-family: Montserrat, sans-serif;
            transition: all 0.2s ease-in-out;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

    button {
        background-color: #3498db;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    #uploadCSV{
        background-color: #3498db; /* Green */
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        font-family: Serif ;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        margin-left:20%;
        box-sizing: border-box;
    }

    #view-errors{
            background-color: #3498db; /* Green */
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            margin-left:46%;
            margin-right:7%;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

.header-container .page-center,
.body-container .page-center,
.footer-container .page-center {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.header-container-wrapper {
  flex:none;
}

.custom-header-bg {
    background: #2196F3;
    padding: 30px 0;
    font-family:  Marker Felt ;
    box-shadow: 0 0 12px #000;
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
}

.upload {
  padding: 0;
  background-color: #CD5C5C;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 20px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-family: Marker Felt ;
}